@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Rubik";
}

body._lock {
  overflow: hidden;
}

.wraper {
  position: relative;
  top: 0;
  left: 0;
}

.text-decore {
  background: rgba(116, 33, 176, 0.16);
  border: 1px solid #7421B0;
  color: #7421B0;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}
@media (max-width: 1000px) {
  .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
  }
}
@media (max-width: 800px) {
  .subtitle {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .fixed {
    height: 50px;
  }
}

@media (max-width: 1000px) {
  .header__menu-body {
    position: fixed;
    top: -150%;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    z-index: 11;
  }
}
@media (max-width: 1000px) and (max-width: 600px) {
  .header__menu-body {
    width: 100%;
  }
}

.header__menu-body._active {
  top: 0;
}

.menu__icon._active span {
  width: 0;
}
.menu__icon._active::before {
  top: 50%;
  width: 100%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu__icon._active::after {
  bottom: 50%;
  width: 100%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu__icon {
  display: none;
}
@media (max-width: 1000px) {
  .menu__icon {
    display: block;
    position: relative;
    z-index: 20;
    width: 30px;
    height: 20px;
    left: 90%;
    cursor: pointer;
    top: 25%;
  }
}
.menu__icon span, .menu__icon:before, .menu__icon:after {
  left: 0;
  position: absolute;
  height: 10%;
  transition: all 0.3s ease 0s;
  background-color: #7421B0;
}
.menu__icon:before, .menu__icon:after {
  content: "";
}
.menu__icon:before {
  width: 70%;
  top: 0;
}
.menu__icon:after {
  width: 50%;
  bottom: 0;
}
.menu__icon span {
  width: 100%;
  top: 45%;
  transform: scale(1) translate(0px -50%);
}

.header {
  background: #FFFFFF;
}
.header__absolut-foto {
  position: absolute;
  top: 90px;
}
@media (max-width: 1000px) {
  .header__absolut-foto {
    display: none;
  }
}
.header__row {
  max-width: 1420px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 0 0;
}
@media (max-width: 1000px) {
  .header__row {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0 0;
  }
}
.header__logo {
  padding: 0 10px;
}
@media (max-width: 1000px) {
  .header__logo {
    padding: 0 10px;
  }
}
.header__list {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__list li {
  padding: 0 30px 0 30px;
}
@media (max-width: 1200px) {
  .header__list li {
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 1000px) {
  .header__list li {
    padding: 15px 0 15px 10px;
  }
}
.header__link {
  position: relative;
  top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #565656;
  transition: all 300ms linear;
}
@media (max-width: 1000px) {
  .header__link {
    font-size: 22px;
  }
}
.header__link:hover {
  content: "";
  color: #7421B0;
  top: 5px;
  border-bottom: 2px solid #7421B0;
}
.header__content {
  position: relative;
  z-index: 3;
  padding: 0 0 0 13%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header__content {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 600px) {
  .header__content {
    flex-direction: column-reverse;
    padding: 0;
  }
}
.header__text-content {
  flex: 0 1 50%;
}
@media (max-width: 600px) {
  .header__text-content {
    text-align: center;
    padding: 0 50px;
  }
}
.header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #131313;
  margin: 200px 0 40px 0;
  max-width: 525px;
}
@media (max-width: 1200px) {
  .header__title {
    margin: 100px 0 40px 0;
  }
}
@media (max-width: 1000px) {
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 800px) {
  .header__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 600px) {
  .header__title {
    text-align: center;
    margin: 60px 0 20px 0;
  }
}
.header__subtitle {
  max-width: 460px;
}
@media (max-width: 600px) {
  .header__subtitle {
    max-width: 100%;
  }
}
.header__btn {
  margin-top: 80px;
  width: 235px;
  height: 70px;
  background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}
.header__btn:hover {
  content: "";
  background: rgba(0, 0, 0, 0);
  color: #7421B0;
  box-shadow: inset 0 0 0 3px #7421B0;
}
@media (max-width: 800px) {
  .header__btn {
    width: 170px;
    height: 44px;
  }
}
@media (max-width: 600px) {
  .header__btn {
    margin: 20px auto 0;
  }
}
.header__btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 1500ms ease;
}
.header__btn-link:hover {
  content: "";
  color: #7421B0;
}
@media (max-width: 800px) {
  .header__btn-link {
    font-size: 12px;
    line-height: 150%;
  }
}
.header__arow {
  margin-top: 50px;
  position: relative;
  -webkit-animation-name: arow;
          animation-name: arow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header__arow a {
  display: inline-block;
  height: 80px;
  width: 40px;
}
@media (max-width: 600px) {
  .header__arow {
    display: none;
  }
}
@-webkit-keyframes arow {
  0% {
    top: -5%;
  }
  50% {
    top: 5%;
  }
  100% {
    top: -5%;
  }
}
@keyframes arow {
  0% {
    top: -5%;
  }
  50% {
    top: 5%;
  }
  100% {
    top: -5%;
  }
}
.header__foto-content {
  overflow: hidden;
  flex: 1 1 50%;
  position: relative;
  top: 0;
  right: 0;
  margin: 0 0 0 20px;
}
.header__fon-pink {
  width: 800px;
  height: 100%;
  top: 0;
  left: 20%;
  background: linear-gradient(180deg, #7421B0 0%, #D08EFF 100%);
  border-radius: 70px;
  position: relative;
  z-index: 0;
}
@media (max-width: 600px) {
  .header__fon-pink {
    height: 400px;
    width: 100%;
  }
}
.header__main-foto {
  height: 60%;
  width: 100%;
  position: absolute;
  top: 15%;
  right: 10%;
}
.header__main-foto img {
  width: 100%;
  height: 100%;
}
.header__fon-subtitle {
  width: 280px;
  height: 110px;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  position: absolute;
  z-index: 15;
  bottom: 14%;
  right: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
@media (max-width: 800px) {
  .header__fon-subtitle {
    width: 186px;
    height: 68px;
  }
}
.header__fon-text {
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .header__fon-text {
    font-size: 12px;
  }
}
.header__decorative-line {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__decorative-line img {
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .header__decorative-line {
    top: -25%;
  }
}

/*===============================================================================================*/
.block1__container {
  padding: 0 13% 0 13%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .block1__container {
    padding: 0 50px;
  }
}
.block1__row {
  display: flex;
  margin: 290px 0 80px 0;
}
@media (max-width: 900px) {
  .block1__row {
    margin: 150px 0 30px 0;
  }
}
@media (max-width: 600px) {
  .block1__row {
    flex-direction: column;
    margin: 60px 0 20px 0;
  }
}
.block1__title {
  max-width: 480px;
}
.block1__title span {
  color: #7421B0;
}
.block1__subtitle {
  max-width: 570px;
  margin: 0 0 0 40px;
}
@media (max-width: 600px) {
  .block1__subtitle {
    margin: 20px 0 0 0;
    text-align: center;
  }
}
.block1__box {
  display: flex;
}
@media (max-width: 1415px) {
  .block1__box {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.block1__inner {
  width: 338px;
  height: 294px;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 50px;
  transition: all 1500ms ease;
}
.block1__inner:hover {
  background: #7421B0;
  box-shadow: 0px 26px 48px -23px #7421B0;
  border-radius: 10px;
}
@media (max-width: 1415px) {
  .block1__inner {
    margin: 15px 15px;
  }
}
@media (max-width: 900px) {
  .block1__inner {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 660px) {
  .block1__inner {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .block1__inner {
    width: 100%;
    height: 100px;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .block1__img {
    display: flex;
    flex: 0 1 20%;
    padding-left: 10px;
  }
}
.block1__inner-text {
  padding: 40px 20px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
}
@media (max-width: 900px) {
  .block1__inner-text {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .block1__inner-text {
    font-size: 14px;
    line-height: 123%;
    padding: 0 10px 0 30px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #131313;
}
@media (max-width: 900px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .title {
    text-align: center;
  }
}

.strong {
  font-weight: 500px;
  color: #131313;
}

/* hover на блокы ===============================================*/
.block1-fon {
  width: 80px;
  height: 80px;
  background-image: url("../img/section1/1.1.png");
}

.block1-fon2 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section1/2.png");
}

.block1-fon3 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section1/3.png");
}

.block1-fon4 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section1/4.png");
}

.block1__inner:hover .block1__inner-text {
  color: #FFFFFF;
}

.block1__inner:hover .block1-fon {
  background: url("../img/section1/1.png");
}

.block1__inner:hover .block1-fon2 {
  background: url("../img/section1/2.2.png");
}

.block1__inner:hover .block1-fon3 {
  background: url("../img/section1/3.3.png");
}

.block1__inner:hover .block1-fon4 {
  background: url("../img/section1/4.4.png");
}

/* hover на блокы ===============================================*/
.block2 {
  position: relative;
  top: 0;
  left: 0;
  padding: 130px 0 0 0;
}
@media (max-width: 800px) {
  .block2 {
    padding: 70px 0 0 0;
  }
}
@media (max-width: 600px) {
  .block2 {
    padding: 30px 0 0 0;
  }
}
.block2__absolute-line {
  position: absolute;
  top: 0;
  left: 0;
}
.block2__absolute-line img {
  width: 100%;
}
@media (max-width: 800px) {
  .block2__absolute-line {
    top: 10%;
    left: 0;
  }
}
.block2__conteiner {
  display: flex;
  position: relative;
  top: -100px;
}
@media (max-width: 800px) {
  .block2__conteiner {
    flex-direction: column;
  }
}
.block2__foto-block {
  position: relative;
  top: 0;
  left: 0;
  flex: 1 1 50%;
}
.block2__fon-blur {
  width: 100%;
  height: 650px;
  background: linear-gradient(90deg, rgba(255, 89, 248, 0.04) 0%, rgba(174, 114, 255, 0.04) 19.79%, rgba(144, 233, 237, 0.04) 40.62%, rgba(92, 209, 103, 0.04) 61.98%, rgba(255, 238, 0, 0.04) 82.53%);
  border: 3px solid rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 70px;
  overflow: hidden;
  position: relative;
  left: -20%;
}
@media (max-width: 800px) {
  .block2__fon-blur {
    height: 330px;
    width: 90%;
  }
}
@media (max-width: 600px) {
  .block2__fon-blur {
    height: 180px;
  }
}
.block2__wite-conteiner {
  width: 70%;
  height: 350px;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 30%;
}
@media (max-width: 800px) {
  .block2__wite-conteiner {
    height: 315px;
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 600px) {
  .block2__wite-conteiner {
    height: 190px;
  }
}
.block2__text-block {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  .block2__text-block {
    flex-direction: row;
    margin-top: 100px;
  }
}
@media (max-width: 600px) {
  .block2__text-block {
    flex-direction: column;
    margin-top: 40px;
  }
}
.block2__title {
  margin: 0 auto;
  padding-right: 255px;
  padding-left: 60px;
}
@media (max-width: 800px) {
  .block2__title {
    padding: 0 40px 0 45px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 600px) {
  .block2__title {
    margin: 30px 0 20px 0;
  }
}
.block2__subtitle {
  max-width: 500px;
  margin: 40px auto 40px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  .block2__subtitle {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .block2__subtitle {
    text-align: center;
    max-width: 100%;
  }
}

.pading {
  margin-top: 20px;
}

.ping-text {
  color: #7421B0;
}

.block3 {
  position: relative;
  top: 0;
  right: 0;
}
.block3__absolute-img {
  position: absolute;
  right: 30%;
  top: 7%;
  height: 270px;
  width: 30%;
}
.block3__absolute-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .block3__absolute-img {
    height: 170px;
  }
}
@media (max-width: 600px) {
  .block3__absolute-img {
    height: 98px;
  }
}
.block3__conteiner {
  position: relative;
  top: -200px;
  display: flex;
}
@media (max-width: 800px) {
  .block3__conteiner {
    flex-direction: column-reverse;
    top: 0;
  }
}
@media (max-width: 600px) {
  .block3__conteiner {
    top: -80px;
  }
}
.block3__text-block {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  .block3__text-block {
    flex-direction: row;
    margin-top: 25px;
  }
}
@media (max-width: 600px) {
  .block3__text-block {
    flex-direction: column;
    margin-top: 30px;
  }
}
.block3__title {
  margin: 220px auto 0;
  padding-right: 255px;
  padding-left: 20px;
}
@media (max-width: 800px) {
  .block3__title {
    padding: 0 40px 0 45px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 600px) {
  .block3__title {
    margin: 0 0 20px 0;
  }
}
.block3__subtitle {
  max-width: 500px;
  margin: 40px auto 40px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  .block3__subtitle {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .block3__subtitle {
    text-align: center;
    max-width: 100%;
  }
}
.block3__foto-block {
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  flex: 1 1 50%;
}
.block3__pink {
  position: relative;
  right: -15%;
  width: 100%;
  height: 920px;
}
.block3__pink img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .block3__pink {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .block3__pink {
    height: 350px;
  }
}
.block3__wite-block {
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 70%;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}
@media (max-width: 800px) {
  .block3__wite-block {
    height: 315px;
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 600px) {
  .block3__wite-block {
    height: 190px;
  }
}
.pading {
  margin-top: 20px;
}

.block4 {
  position: relative;
  top: 0;
  left: 0;
}
.block4__conteiner {
  position: relative;
  top: -250px;
  display: flex;
}
@media (max-width: 800px) {
  .block4__conteiner {
    flex-direction: column;
    top: 110px;
  }
}
@media (max-width: 600px) {
  .block4__conteiner {
    top: 0;
  }
}
.block4__foto-block {
  flex: 1 1 50%;
  position: relative;
  top: 0;
  left: 0;
}
.block4__absolute-img {
  position: absolute;
  height: 300px;
  width: 20%;
  top: -14%;
}
.block4__absolute-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .block4__absolute-img {
    height: 140px;
    width: 17%;
  }
}
@media (max-width: 600px) {
  .block4__absolute-img {
    height: 80px;
    width: 17%;
  }
}
.block4__fon-blur {
  position: relative;
  z-index: 1;
  height: 1000px;
  width: 100%;
}
.block4__fon-blur img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .block4__fon-blur {
    height: 480px;
    width: 95%;
  }
}
@media (max-width: 600px) {
  .block4__fon-blur {
    height: 230px;
  }
}
.block4__wite-container-img {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 70%;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}
@media (max-width: 800px) {
  .block4__wite-container-img {
    height: 315px;
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 600px) {
  .block4__wite-container-img {
    height: 190px;
  }
}
.block4__img-text {
  position: absolute;
  z-index: 2;
  top: 62%;
  left: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 160px;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 16px;
}
@media (max-width: 800px) {
  .block4__img-text {
    top: 90%;
  }
}
@media (max-width: 600px) {
  .block4__img-text {
    width: 70%;
    left: 15%;
    top: 105%;
    height: 120px;
  }
}
.block4__img-subtitle {
  max-width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #828282;
}
.block4__img-subtitle span {
  color: #131313;
}
@media (max-width: 1000px) {
  .block4__img-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .block4__img-subtitle {
    font-size: 12px;
  }
}
.block4__text-block {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  .block4__text-block {
    flex-direction: row;
    margin-top: 130px;
  }
}
@media (max-width: 600px) {
  .block4__text-block {
    flex-direction: column;
    margin-top: 165px;
  }
}
.block4__title {
  margin: 20px auto 0;
  padding-right: 120px;
  padding-left: 20px;
}
@media (max-width: 800px) {
  .block4__title {
    padding: 0 40px 0 45px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 600px) {
  .block4__title {
    margin: 0 0 20px 0;
  }
}
.block4__subtitle {
  max-width: 500px;
  margin: 40px auto 40px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  .block4__subtitle {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .block4__subtitle {
    text-align: center;
    max-width: 100%;
  }
}

.block5 {
  position: relative;
  top: 0;
}
.block5__conteiner {
  position: relative;
  top: -300px;
  display: flex;
}
@media (max-width: 800px) {
  .block5__conteiner {
    flex-direction: column-reverse;
    top: 200px;
  }
}
@media (max-width: 600px) {
  .block5__conteiner {
    top: 90px;
  }
}
.block5__text-block {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  .block5__text-block {
    flex-direction: row;
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .block5__text-block {
    flex-direction: column;
    margin-top: 30px;
  }
}
.block5__title {
  margin: 0 auto;
  padding-right: 105px;
  padding-left: 20px;
}
@media (max-width: 800px) {
  .block5__title {
    padding: 0 40px 0 45px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 600px) {
  .block5__title {
    margin: 0 0 20px 0;
  }
}
.block5__subtitle {
  max-width: 500px;
  margin: 40px auto 40px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  .block5__subtitle {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .block5__subtitle {
    text-align: center;
    max-width: 100%;
  }
}
.block5__foto-block {
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  flex: 1 1 50%;
}
.block5__absolute-img {
  position: absolute;
  top: -25%;
  right: 13%;
  width: 18%;
  height: 300px;
}
.block5__absolute-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .block5__absolute-img {
    height: 130px;
    top: -12.5%;
  }
}
@media (max-width: 600px) {
  .block5__absolute-img {
    height: 100px;
  }
}
.block5__pink {
  width: 100%;
  height: 650px;
  background: linear-gradient(97.02deg, rgba(116, 33, 176, 0.2) 28.9%, rgba(208, 142, 255, 0.2) 139.98%);
  border: 3px solid rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 70px;
  position: relative;
  right: -20%;
  top: 0;
}
@media (max-width: 800px) {
  .block5__pink {
    height: 420px;
    width: 90%;
  }
}
@media (max-width: 600px) {
  .block5__pink {
    height: 260px;
  }
}
.block5__wite-block {
  width: 75%;
  height: 350px;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  right: 20%;
}
@media (max-width: 800px) {
  .block5__wite-block {
    height: 315px;
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 600px) {
  .block5__wite-block {
    height: 190px;
  }
}
.block5__asolute-line {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
.block5__asolute-line img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .block5__asolute-line {
    top: 70%;
    width: 100%;
    height: 50%;
  }
}

.pading {
  margin-top: 20px;
}

.block6 {
  position: relative;
  top: -200px;
  padding: 0 13% 0 13%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .block6 {
    top: 300px;
  }
}
@media (max-width: 600px) {
  .block6 {
    top: 160px;
  }
}
@media (max-width: 1200px) {
  .block6 {
    padding: 0 50px;
  }
}
.block6__box {
  display: flex;
}
@media (max-width: 1415px) {
  .block6__box {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.block6__inner {
  width: 338px;
  height: 294px;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 50px;
  transition: all 1500ms ease;
}
.block6__inner:hover {
  background: #7421B0;
  box-shadow: 0px 26px 48px -23px #7421B0;
  border-radius: 10px;
}
@media (max-width: 1415px) {
  .block6__inner {
    margin: 15px 15px;
  }
}
@media (max-width: 900px) {
  .block6__inner {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 660px) {
  .block6__inner {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .block6__inner {
    width: 100%;
    height: 100px;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .block6__img {
    display: flex;
    flex: 0 1 20%;
    padding-left: 10px;
  }
}
.block6__inner-text {
  padding: 40px 20px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
}
@media (max-width: 900px) {
  .block6__inner-text {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .block6__inner-text {
    font-size: 14px;
    line-height: 123%;
    padding: 0 10px 0 30px;
  }
}
.block6__btn {
  width: 235px;
  height: 70px;
  background: #131313;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  transition: all 500ms ease;
}
.block6__btn:hover {
  content: "";
  background: rgba(0, 0, 0, 0);
  color: #7421B0;
  box-shadow: inset 0 0 0 3px #7421B0;
}
@media (max-width: 800px) {
  .block6__btn {
    margin-top: 60px;
    width: 170px;
    height: 44px;
  }
}
@media (max-width: 800px) {
  .block6__btn {
    margin-top: 30px;
  }
}
.block6__btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 1500ms ease;
}
.block6__btn-text:hover {
  content: "";
  color: #7421B0;
}
@media (max-width: 800px) {
  .block6__btn-text {
    font-size: 12px;
    width: 170px;
    height: 44px;
  }
}

/* hover на блокы ===============================================*/
.block6-fon {
  width: 80px;
  height: 80px;
  background-image: url("../img/section6/1.png");
}

.block6-fon2 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section6/2.png");
}

.block6-fon3 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section6/3.png");
}

.block6-fon4 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section6/4.png");
}

.block6__inner:hover .block6__inner-text {
  color: #FFFFFF;
}

.block6__inner:hover .block6-fon {
  background: url("../img/section6/1,1.png");
}

.block6__inner:hover .block6-fon2 {
  background: url("../img/section6/1,2.png");
}

.block6__inner:hover .block6-fon3 {
  background: url("../img/section6/1,3.png");
}

.block6__inner:hover .block6-fon4 {
  background: url("../img/section6/1,4.png");
}

/* hover на блокы ===============================================*/
.block7 {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 60px;
  /* НАДО ПОДУМАТЬ И ДОДЕЛАТЬ ПРОБЛЕМА В Z-INDEX================*/
}
@media (max-width: 1000px) {
  .block7 {
    padding: 0 30px;
  }
}
@media (max-width: 800px) {
  .block7 {
    margin-top: 400px;
  }
}
@media (max-width: 600px) {
  .block7 {
    padding: 0;
    margin-top: 300px;
  }
}
.block7__absolut-item1 {
  position: absolute;
  top: -8%;
  right: 12%;
}
@media (max-width: 1000px) {
  .block7__absolut-item1 {
    height: 150px;
    width: 18%;
    top: -3%;
  }
  .block7__absolut-item1 img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .block7__absolut-item1 {
    height: 75px;
    width: 15%;
    top: -1.5%;
  }
}
.block7__absolut-item2 {
  position: absolute;
  left: 0;
  top: 17%;
}
@media (max-width: 1000px) {
  .block7__absolut-item2 {
    height: 150px;
    width: 105px;
    top: 50%;
  }
  .block7__absolut-item2 img {
    width: 100%;
    height: 100%;
  }
}
.block7__absolut-item3 {
  position: absolute;
  right: 0;
  top: 45%;
}
@media (max-width: 1000px) {
  .block7__absolut-item3 {
    height: 220px;
    width: 150px;
    top: 73%;
  }
  .block7__absolut-item3 img {
    width: 100%;
    height: 100%;
  }
}
.block7__absolut-item4 {
  display: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 10%;
  top: 70%;
}
.block7__absolut-item4 img {
  width: 100%;
  height: 100%;
}
.block7__blur {
  background: linear-gradient(1.36deg, rgba(255, 255, 255, 0.5) 0.92%, rgba(255, 255, 255, 0) 61.36%), linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
  border: 4px solid rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 70px;
}
.block7__container {
  max-width: 1300px;
  margin: 100px auto 60px;
  padding: 0 20px;
}
@media (max-width: 1000px) {
  .block7__container {
    max-width: 100%;
    margin: 60 auto;
  }
}
@media (max-width: 600px) {
  .block7__container {
    margin: 0;
  }
}
.block7__title {
  max-width: 515px;
}
@media (max-width: 600px) {
  .block7__title {
    max-width: 100%;
    padding-top: 40px;
  }
}
.block7__row {
  position: relative;
  z-index: 5;
  margin: 100px 0 0 0;
  display: flex;
}
@media (max-width: 1000px) {
  .block7__row {
    flex-direction: column;
    margin: 15px 0 0 0;
  }
}
@media (max-width: 600px) {
  .block7__row {
    margin: 0;
  }
}
.block7__column {
  flex: 1 1 33.333%;
  padding: 0 5px 0 5px;
}
@media (max-width: 1000px) {
  .block7__column {
    padding: 0;
    flex: 1 1 auto;
    margin: 60px 0 0 0;
  }
}
@media (max-width: 600px) {
  .block7__column {
    margin: 30px 0 0 0;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .block7__img {
    width: 90px;
    height: 90px;
    margin: 0 0 0 90px;
  }
  .block7__img img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1000px) and (max-width: 600px) {
  .block7__img {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .block7__inner {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 600px) {
  .block7__inner {
    margin: 0;
  }
}
.block7__column-title {
  margin: 55px 0;
  display: flex;
}
@media (max-width: 1000px) {
  .block7__column-title {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 600px) {
  .block7__column-title {
    margin: 30px 0 23px 0;
    justify-content: center;
  }
}
.block7__num {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #7421B0;
}
.block7__headline {
  padding: 0 0 0 50px;
  max-width: 160px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #131313;
}
@media (max-width: 600px) {
  .block7__headline {
    max-width: 100%;
  }
}
.block7__item {
  max-width: 400px;
}
@media (max-width: 1000px) {
  .block7__item {
    max-width: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 600px) {
  .block7__item {
    text-align: center;
  }
}
.block7__caption {
  margin: 200px 0 100px 0;
}
@media (max-width: 1000px) {
  .block7__caption {
    margin: 100px 0 60px 0;
  }
}
@media (max-width: 600px) {
  .block7__caption {
    margin: 60px 0 30px 0;
  }
}
.block7__col {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.333%;
}
@media (max-width: 1000px) {
  .block7__col {
    flex: 1 1 100%;
    margin: 0 10%;
  }
}
@media (max-width: 600px) {
  .block7__col {
    margin: 0;
  }
}
.block7__wite-container {
  margin: 60px 0 40px 0;
  height: 200px;
  width: 93%;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .block7__wite-container {
    margin: 40px 0 30px 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .block7__wite-container {
    margin: 20px 0;
    height: 150px;
    width: 100%;
  }
}
.block7__btn {
  width: 235px;
  height: 70px;
  background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
  box-shadow: 0px 12px 56px 3px rgba(116, 33, 176, 0.48);
  border-radius: 10px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}
.block7__btn:hover {
  content: "";
  background: rgba(0, 0, 0, 0);
  color: #7421B0;
  box-shadow: inset 0 0 0 3px #7421B0;
}
@media (max-width: 800px) {
  .block7__btn {
    width: 170px;
    height: 44px;
  }
}
.block7__link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 1500ms ease;
}
.block7__link-btn:hover {
  content: "";
  color: #7421B0;
}
@media (max-width: 800px) {
  .block7__link-btn {
    font-size: 12px;
    width: 170px;
    height: 44px;
  }
}
@media (max-width: 1000px) {
  .block7__text-block {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .block7__text-block {
    margin-bottom: 40px;
    justify-content: center;
  }
}
.block7__pinck-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
}
.block7__wite-container-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 180%;
  color: #7421B0;
  opacity: 0.3;
}
.block7__button {
  width: 235px;
  height: 70px;
  background: #131313;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  transition: all 500ms ease;
}
.block7__button:hover {
  content: "";
  background: rgba(0, 0, 0, 0);
  color: #7421B0;
  box-shadow: inset 0 0 0 3px #7421B0;
}
@media (max-width: 1000px) {
  .block7__button {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .block7__button {
    width: 170px;
    height: 44px;
  }
}
@media (max-width: 800px) {
  .block7__button {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .block7__button {
    margin-top: 0;
  }
}
.block7__button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 1500ms ease;
}
.block7__button-link:hover {
  content: "";
  color: #7421B0;
}
@media (max-width: 800px) {
  .block7__button-link {
    font-size: 12px;
    width: 170px;
    height: 44px;
  }
}

.pinck {
  color: #7421B0;
}

@media (max-width: 1000px) {
  .column {
    display: flex;
  }
}
@media (max-width: 600px) {
  .column {
    flex-direction: column;
  }
}

.block8 {
  padding: 230px 13% 0 13%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .block8 {
    padding: 100px 50px 0 50px;
  }
}
@media (max-width: 760px) {
  .block8 {
    padding: 60px 50px 0 50px;
  }
}
.block8__absolut-block {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 250px;
  margin: 0 0 35px 0;
}
@media (max-width: 1200px) {
  .block8__absolut-block {
    padding: 0 15px;
  }
}
@media (max-width: 900px) {
  .block8__absolut-block {
    padding: 0 15px 0 85px;
  }
}
@media (max-width: 760px) {
  .block8__absolut-block {
    padding: 0;
  }
}
.block8__absolut-item {
  position: absolute;
  top: -50%;
  left: 370px;
}
.block8__absolut-item img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .block8__absolut-item {
    left: 130px;
  }
}
@media (max-width: 900px) {
  .block8__absolut-item {
    left: 205px;
  }
}
@media (max-width: 760px) {
  .block8__absolut-item {
    left: 130px;
  }
}
.block8__blur {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 80px;
  background: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
}
@media (max-width: 760px) {
  .block8__blur {
    width: 200px;
  }
}
.block8__blur-text {
  max-width: 180px;
  font-size: 16px;
  line-height: 160%;
  color: #828282;
}
@media (max-width: 760px) {
  .block8__blur-text {
    font-size: 12px;
    text-align: center;
  }
}
.block8__text-block {
  margin: 0 0 80px 0;
  padding: 0 15px;
  display: flex;
}
@media (max-width: 900px) {
  .block8__text-block {
    margin: 0 0 44px 0;
  }
}
@media (max-width: 760px) {
  .block8__text-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
  }
}
.block8__title {
  max-width: 520px;
  margin: 0 100px 0 0;
}
@media (max-width: 900px) {
  .block8__title {
    margin: 0 0 0 70px;
    max-width: 320px;
  }
}
@media (max-width: 760px) {
  .block8__title {
    max-width: 80%;
    margin: 0 0 20px 0;
    text-align: center;
  }
}
.block8__subtitle {
  max-width: 520px;
}
@media (max-width: 900px) {
  .block8__subtitle {
    max-width: 320px;
    margin-left: 15 px;
  }
}
@media (max-width: 760px) {
  .block8__subtitle {
    margin: 0;
    max-width: 90%;
    text-align: center;
  }
}
.block8__box {
  display: flex;
}
@media (max-width: 1415px) {
  .block8__box {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.block8__inner {
  width: 338px;
  height: 294px;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 40px;
  transition: all 1500ms ease;
}
.block8__inner:hover {
  background: #7421B0;
  box-shadow: 0px 26px 48px -23px #7421B0;
  border-radius: 10px;
}
@media (max-width: 1415px) {
  .block8__inner {
    margin: 15px 15px;
  }
}
@media (max-width: 900px) {
  .block8__inner {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 660px) {
  .block8__inner {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .block8__inner {
    width: 100%;
    height: 100px;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .block8__img {
    display: flex;
    flex: 0 1 20%;
    padding-left: 10px;
  }
}
.block8__inner-text {
  padding: 20px 20px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
}
@media (max-width: 1415px) {
  .block8__inner-text {
    padding: 40px 20px 0 0;
  }
}
@media (max-width: 900px) {
  .block8__inner-text {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .block8__inner-text {
    font-size: 14px;
    line-height: 123%;
    padding: 0 10px 0 30px;
  }
}

/* hover на блокы ===============================================*/
.block8-fon {
  width: 80px;
  height: 80px;
  background-image: url("../img/section8/1.png");
}

.block8-fon2 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section8/2.png");
}

.block8-fon3 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section8/3.png");
}

.block8-fon4 {
  width: 80px;
  height: 80px;
  background-image: url("../img/section8/4.png");
}

.block8__inner:hover .block8__inner-text {
  color: #FFFFFF;
}

.block8__inner:hover .block8-fon {
  background: url("../img/section8/1.1.png");
}

.block8__inner:hover .block8-fon2 {
  background: url("../img/section8/1.2.png");
}

.block8__inner:hover .block8-fon3 {
  background: url("../img/section8/1.3.png");
}

.block8__inner:hover .block8-fon4 {
  background: url("../img/section8/1.4.png");
}

/* hover на блокы ===============================================*/
.faq {
  transition: all 1500ms ease;
  margin-top: 200px;
}
@media (max-width: 1000px) {
  .faq {
    margin-top: 100px;
  }
}
@media (max-width: 600px) {
  .faq {
    margin-top: 60px;
  }
}
.faq__pink-fon {
  padding: 100px 100px 180px;
  width: 100%;
  background: linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media (max-width: 1000px) {
  .faq__pink-fon {
    padding: 60px;
  }
}
@media (max-width: 600px) {
  .faq__pink-fon {
    padding: 60px 20px;
  }
}
.faq__absolut-item1 {
  position: absolute;
  top: 25%;
  left: -15%;
  height: 25%;
  width: 25%;
}
.faq__absolut-item1 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .faq__absolut-item1 {
    height: 20%;
    width: 25%;
    left: -10%;
  }
}
.faq__absolut-item2 {
  position: absolute;
  top: 77%;
  right: -8%;
  height: 20%;
  width: 21%;
}
.faq__absolut-item2 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .faq__absolut-item2 {
    height: 15%;
    width: 20%;
    top: 79%;
    right: -4%;
  }
}
.faq__absolut-item3 {
  position: absolute;
  top: 70%;
  right: -10%;
  width: 10%;
  height: 10%;
}
.faq__absolut-item3 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .faq__absolut-item3 {
    width: 12%;
    height: 8%;
    top: 67%;
    right: -6%;
  }
}
.faq__absolut-item4 {
  position: absolute;
  top: 37%;
  right: 17%;
  height: 37%;
  width: 20%;
}
.faq__absolut-item4 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .faq__absolut-item4 {
    width: 25%;
    height: 33%;
    right: 35%;
  }
}
.faq__container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.faq__faq {
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #131313;
}
@media (max-width: 1000px) {
  .faq__faq {
    margin: 0 auto 40px;
    font-size: 24px;
    line-height: 28px;
  }
}
.faq__column {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.faq__inner {
  padding: 50px;
  background: rgba(196, 196, 196, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .faq__inner {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .faq__inner {
    padding: 30px 30px 30px 40px;
    align-items: flex-start;
  }
}
.faq__small-inner {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
@media (max-width: 600px) {
  .faq__small-inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.faq__namber {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #7421B0;
}
@media (max-width: 1000px) {
  .faq__namber {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 600px) {
  .faq__namber {
    margin-bottom: 15px;
  }
}
.faq__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #131313;
  max-width: 670px;
  margin-left: 140px;
}
@media (max-width: 1000px) {
  .faq__title {
    margin-left: 40px;
    font-size: 20px;
    line-height: 160%;
  }
}
@media (max-width: 600px) {
  .faq__title {
    margin-left: 0;
  }
}
.faq__subtitle {
  max-width: 670px;
  margin: 20px 0 0 140px;
}
@media (max-width: 1000px) {
  .faq__subtitle {
    margin: 20px 0 0 40px;
  }
}
@media (max-width: 600px) {
  .faq__subtitle {
    margin-left: 0;
  }
}
.open {
  align-items: flex-start;
}

.block9 {
  padding-bottom: 100px;
}
.block9__row {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}
@media (max-width: 1100px) {
  .block9__row {
    flex-direction: column;
    overflow: hidden;
  }
}
.block9__absolut-item1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.block9__absolut-item1 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1100px) {
  .block9__absolut-item1 {
    width: 200%;
    height: 30%;
  }
}
.block9__blur-block {
  position: relative;
  top: 0;
  left: 0;
  flex: 1 1 50%;
  margin: 320px 0 0 0;
}
@media (max-width: 1100px) {
  .block9__blur-block {
    margin: 180px 0 90px 0;
    flex: 1 1 auto;
  }
}
@media (max-width: 700px) {
  .block9__blur-block {
    margin: 180px 0 0 0;
  }
}
.block9__asolut-item2 {
  position: absolute;
  top: -30%;
  left: 43%;
  width: 25%;
  height: 100%;
}
.block9__asolut-item2 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .block9__asolut-item2 {
    left: 7%;
    height: 70%;
    width: 20%;
  }
}
.block9__blur {
  background: linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
  border: 3px solid rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 80%;
  height: 100%;
}
@media (max-width: 1100px) {
  .block9__blur {
    min-height: 200px;
  }
}
@media (max-width: 700px) {
  .block9__blur {
    width: 100%;
  }
}
.block9__absolut-item3 {
  position: absolute;
  top: 30%;
  left: 70%;
  width: 20%;
  height: 80%;
}
.block9__absolut-item3 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .block9__absolut-item3 {
    left: 50%;
    top: 45%;
    width: 20%;
    height: 70%;
  }
}
.block9__text-block {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  margin: 200px 0 0 0;
}
@media (max-width: 1100px) {
  .block9__text-block {
    flex: 1 1 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
.block9__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #131313;
  max-width: 750px;
  margin-bottom: 60px;
}
@media (max-width: 1100px) {
  .block9__subtitle {
    max-width: 500px;
  }
}
@media (max-width: 1000px) {
  .block9__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .block9__subtitle {
    font-size: 18px;
    margin: 60px 0;
    text-align: center;
  }
}
.block9__btn {
  width: 235px;
  height: 70px;
  background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
  border-radius: 5px;
  transition: all 500ms ease-out;
}
.block9__btn:hover {
  content: "";
  background: rgba(0, 0, 0, 0);
  color: #7421B0;
  box-shadow: inset 0 0 0 3px #7421B0;
}
@media (max-width: 700px) {
  .block9__btn {
    width: 170px;
    height: 44px;
  }
}
.block9__btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  width: 235px;
  height: 70px;
  transition: all 1500ms ease;
}
.block9__btn-link:hover {
  content: "";
  color: #7421B0;
}
@media (max-width: 700px) {
  .block9__btn-link {
    font-size: 12px;
    width: 170px;
    height: 44px;
  }
}